.calendar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #c7c7c7;
    font-size: 1.8rem;

    .btn-prev{
        cursor: pointer;
        width: 1rem;
        padding: 15px 20px;
        display: flex;
        align-items: center;
    }

    .date{
        width: 70%;
        display:flex;
        justify-content: left; 
    }
    .month{
        cursor: pointer;
        font-weight: bold;
        padding: 5px 0px ;        
    }

    .month-hide{
        display:none;
    }

    .year{
        cursor: pointer;
        color: #00a1ff;
        padding: 5px 0px ;
    }
    .btn-next{
        cursor: pointer;
        width: 1rem;
        padding: 20px 10px 20px 15px;
        display: flex;
        align-items: center;
    }

    
}

.disable{
    pointer-events: none;
    opacity: 0.25;
  }