.day-view{
    overflow: hidden;   
    // animation: 0.3s ease-out 0s 1 scaleOutFromcenter; 
    font-size: 0.8rem;

    .day-header-row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding : 5px 0px 5px 0px;

        .day-header{
            flex: 1;
            justify-content: center;
            align-items: center;   
            text-align: center;       
        }

        div{
            color: #ccc;
            font-weight: bold;   
        }
    }

     .days{         

        .rows{
            display: flex;
            align-items: center;
            justify-content: center;

            .cell{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                
            }
        }
    }
}

// .day-view:active{
//     animation: 0.3s ease-out 0s 1 scaleOutFromcenter;
// }

@keyframes leftToRightSlide {
    
    100% {transform: translateX(-100%);}
  }

  @keyframes rightToLeftSlide  {
    100%   {transform: translateX(100%); }
    
  }


  @keyframes scaleOutFromcenter {
    0% {
      transform: scale(0.3);
    }
    100% {
      transform: scale(1);
    }
}