.month-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    animation: 0.3s ease-out 0s 1 scaleOutFromcenter;
    padding-top: 0.5rem;
  }
  
  .month-cell {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.2rem;
    box-sizing: border-box;    
    font-size: 1rem;
    cursor: pointer;
  }
  
  .month-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
  }
  
  .month-item {
    flex-grow: 1;
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #e8e8e8b3;
    border-radius: 10%
  }

  @keyframes scaleOutFromcenter {
    0% {
      transform: scale(0.3);
    }
    100% {
      transform: scale(1);
    }
}

